<section class="container-fluid with-maxwidth ">
    <article class="article">

        <div class="row">
            <div class="col-12 col-sm-6 col-lg-8">
                <div class="row card ">

                    <div class="card-body" style="padding-bottom:0px;">
                        <h4 class="card-title" style="margin-top:0px!important;font-size:20px;">TIL Services</h4>
                        <div class=" form-group" style="margin-top:16px;">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </div>
                                <input class="form-control" placeholder="Find a service by name or feature" id="search" name="search" type="text" />
                            </div>
                        </div>
                        <p>
                            <!-- <span>
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </span> -->

                            <b>All Services</b>

                        </p>
                        <div class="row">
                            <div class="col-md-3">
                                <i class="fa fa-server" aria-hidden="true" style="padding-right:15px;"></i>
                                <a href="#" [routerLink]="['/app/data-center/server']" class="card-link">Server</a>

                            </div>
                            <!-- <div class="col-md-3">
                                <i class="fa fa-desktop" aria-hidden="true" style="padding-right:15px;"></i>
                                <a href="#" [routerLink]="['/app/data-center/assets']" class="card-link">Assets</a>
                            </div> -->
                            <div class="col-md-3">
                                <i class="fa fa-server" aria-hidden="true" style="padding-right:15px;"></i>
                                <a href="#" [routerLink]="['/app/data-center/elb/vip']" class="card-link">VIP</a>
                            </div>
                            <div class="col-md-3">
                                <i class="fa fa-line-chart" aria-hidden="true" style="padding-right:15px;"></i>
                                <a href="#" [routerLink]="['/app/cdn/performance']" class="card-link">Performance</a>

                            </div>
                        </div>

                        <!-- <p style="margin-top:20px;margin-bottom:-45px!important;">
                            <span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </span>
                            All services
                        </p> -->

                    </div>

                </div>

                <div class="row card ">

                    <div class="card-body">
                        <h4 class="card-title" style="margin-top:0px!important;font-size:20px;">Build a solution</h4>
                        <p>Get started with simple wizards and automated workflows</p>


                        <div class="row" style="padding-bottom:20px">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-3">
                                        <i class="fa fa-globe" aria-hidden="true" style="padding-right:15px; font-size:50px;"></i>
                                    </div>
                                    <div class="col-md-9" style="font-size:12px;">
                                        Launch a virtual machine
                                        <br> withEC-2
                                        <br> 2-3 minutes
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-3">
                                        <i class="fa fa-globe" aria-hidden="true" style="padding-right:15px; font-size:50px;"></i>
                                    </div>
                                    <div class="col-md-9" style="font-size:12px;">
                                        Launch a virtual machine
                                        <br> withEC-2
                                        <br> 2-3 minutes
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-3">
                                        <i class="fa fa-globe" aria-hidden="true" style="padding-right:15px; font-size:50px;"></i>
                                    </div>
                                    <div class="col-md-9" style="font-size:12px;">
                                        Launch a virtual machine
                                        <br> withEC-2
                                        <br> 2-3 minutes
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-3">
                                        <i class="fa fa-globe" aria-hidden="true" style="padding-right:15px; font-size:50px;"></i>
                                    </div>
                                    <div class="col-md-9" style="font-size:12px;">
                                        Launch a virtual machine
                                        <br> withEC-2
                                        <br> 2-3 minutes
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-3">
                                        <i class="fa fa-globe" aria-hidden="true" style="padding-right:15px; font-size:50px;"></i>
                                    </div>
                                    <div class="col-md-9" style="font-size:12px;">
                                        Launch a virtual machine
                                        <br> withEC-2
                                        <br> 2-3 minutes
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-3">
                                        <i class="fa fa-globe" aria-hidden="true" style="padding-right:15px; font-size:50px;"></i>
                                    </div>
                                    <div class="col-md-9" style="font-size:12px;">
                                        Launch a virtual machine
                                        <br> withEC-2
                                        <br> 2-3 minutes
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- <p style="margin-top:20px;margin-bottom:-45px!important;">
                            <span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </span>
                            All services
                        </p> -->

                    </div>

                </div>
            </div>
            <div class="col-6 col-lg-4">
                <div class="row" style="padding-left:20px;">

                    <h4>Helpful tips</h4>
                    <div class="row">
                        <div class="col-md-3">
                            <i class="fa fa-ioxhost" aria-hidden="true" style=" font-size:50px;"></i>
                        </div>
                        <div class="col-md-9" style="padding-left:0px!important">
                            <span>Manage your cost</span>
                            <br>
                            <p>
                                Get real time billing alerts based on your cost and usage budgets.
                                <a>Start now</a>
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <i class="fa fa-ioxhost" aria-hidden="true" style=" font-size:50px;"></i>
                        </div>
                        <div class="col-md-9" style="padding-left:0px!important">
                            <span>Manage your cost</span>
                            <br>
                            <p>
                                Get real time billing alerts based on your cost and usage budgets.
                                <a>Start now</a>
                            </p>
                        </div>
                    </div>

                </div>
                <div class="" style="padding-left:20px;">
                    <h4 >Explore KeyStone</h4>
                    
                    <div class="row" style="padding-left:20px;">
                        <br/>
                        <p>Coming Soon...</p>
                        <!-- <span>Coming Soon...</span> -->
                        <!-- <span>Amazon Relational Database Service (RDS)</span> -->
                        <!-- <span>Lorem Ipsum</span>
                        <br> -->
                        <!-- RDS manages and scale the database for you.RDA supports Aurora, MySQL,PostgreSQL,MariaDB,Oracle
                        and SQL Server. -->
                        <!-- Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                        text ever since the 1500s.
                        <a>Learn More</a> -->
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>