<ng-template #editModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add Members</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <bu-project class="col-xl-12" 
                [selectionType]="'predefined'" 
                [access]="'write'"  
                [isProject]='true'
                [formData]="formData" 
                (updateData)=getBuProData($event)
                (businessChange)=onBusinessChange($event)
                (projectChange)=onProjectChange($event)>
            </bu-project>
            <!-- <div class="col-xl-6 mg-top-2">
                <label for="domain-name">Enter Domain Name</label>
                <input 
                    class="server-filter-form-input form-control ng-pristine ng-valid ng-touched" 
                    id="domain-name" name="domain-name" 
                    [(ngModel)]="formData.domain_name" 
                    placeholder="Domain Name" type="text" 
                    ng-reflect-name="domain-name">
            </div> -->
        </div>
        <div class="col-xl-12 text-center mg-top-2">
            <button (click)="onUpdate();" [disabled]="spin" type="submit"  class="btn btn-primary" data-toggle="tab" >
                <i *ngIf="spin" class='fa fa-spinner fa-spin '></i> 
                Update 
            </button>
        </div>
        <!-- <create-pool updatePool='true' [formData]="formData" [currentMembers]="currentMembers" [currentBuProject]="currentBuProject" [currentLocZone]="currentLocZone" (sendFormData)=addMember($event)></create-pool>	 -->
    </div>
</ng-template>