<section id="page-container" class="app-page-container">
  <my-app-header></my-app-header>

  <div class="app-content-wrapper">
    <div class="app-content">
      <div class="full-height">
        <router-outlet></router-outlet>
        <!-- <section class="container-fluid data-center-server" style="position:relative;overflow-x:hidden;">
          <h2 class="article-title"></h2>
          
          <div class="row pt-4 pb-3" style=" position: absolute;
          top: 0;
          right: 0;
          z-index: 2;">
            <div class="col-xl-12 pl-4">
              <span style="padding-right:10px">Ageing:</span>
              <select placeholder="Ageing" class="selectpicker pull-right" data-style="btn-primary" style="margin-right: 30px;">
                <option>
                  0
                </option>
                <option>
                  >1
                </option>
                <option>
                  >2
                </option>
                <option>
                  week
                </option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="clearfix col-12">
              <tabset>
                <tab heading="Tickets">
                  <div class="box box-default server-tab-content">
                    <div class="" id="my-server" role="tabpanel">
                      <div class="row pt-4 pb-3">
                        <div class="col-xl-12 pl-4">
                         
                          <a href="javascript:void(0)" (click)="changeView()" class="ml-4"> {{ticketView}}</a>
                        </div>

                      </div>

                      <div class="row mt-0 pl-5 pr-5" *ngIf="tableView">
                        <div class="col-xl-12">
                          <ticket-dashboard></ticket-dashboard>
                        </div>
                      </div>

                      <div class="row mt-0 pl-5 pr-5" *ngIf="!tableView">
                        <div class="col-xl-12">
                          <ticket-graph-view></ticket-graph-view>
                        </div>
                      </div>

                   

                      <div class="row mt-0 pl-5 pr-5">
                        <div class="col-xl-12">

                        </div>
                      </div>

                    </div>
                  </div>
                </tab>
                <tab heading="Engineers">
                  <div class="box box-default server-tab-content">
                    <div class="" id="my-server" role="tabpanel">
                     

                      <div class="row pt-4 pb-3">
                        <div class="col-xl-12 pl-4">
                         
                          <a href="javascript:void(0)" class="ml-4" (click)="showGraphView()">{{engView}}</a>
                        </div>

                      </div>

                      <div class="row mt-0 pl-5 pr-5" *ngIf="engineerTableView">
                        <div class="col-xl-12">
                          <engineer-dashboard></engineer-dashboard>
                        </div>
                      </div>
                      <div class="row mt-0 pl-5 pr-5" *ngIf="!engineerTableView">
                        <div class="col-xl-12">
                          <engineer-graph-view></engineer-graph-view>
                        </div>
                      </div>

                      <div class="row mt-0 pl-5 pr-5">
                        <div class="col-xl-12">

                        </div>
                      </div>

                    </div>
                  </div>
                </tab>
              </tabset>

            </div>
          </div>
        </section> -->
      </div>
    </div>

    <section class="app-footer">
      <div class="container-fluid">
        <span class="float-left">
          <span>Copyright ©
            <a class="brand" target="_blank" href="javascript:void(0)">{{AppConfig.brand}}</a> {{AppConfig.year}}</span>
        </span>
        <!-- <span class="float-right">
            <span>Built with Love <i class="material-icons">favorite_border</i></span>
          </span> -->
      </div>
    </section>
  </div>
</section>