<section class="container-fluid data-center-server" style="position:relative;overflow-x:hidden;">
  <h2 class="article-title"></h2>
  <!-- <div class="col-12">
      <div class="row">

        <div class="col-md-3 pull-right">
          <label for="select-business">Ageing</label>
          <select id="select-business" class="server-filter-form-input form-control" name="select-business">
            <option value="" selected>0</option>
            <option>
              0
            </option>
            <option>
              >1
            </option>
            <option>
              >2
            </option>
            <option>
              week
            </option>
          </select>
        </div>
      </div>
    </div> -->
  <div class="row pt-4 pb-3" style=" position: absolute;
    top: 0;
    right: 0;
    z-index: 2;">
    <div class="col-xl-12 pl-4">
      <span style="padding-right:10px">Ageing:</span>
      <select placeholder="Ageing" [(ngModel)]="selectedAgeing" (change)="onAgeingChange()" class="selectpicker pull-right " 
        style="margin-right: 30px;">
        <option value="0">
          0
        </option>
        <option value="1">
          1
        </option>
        <option value="2">
          2
        </option>
        <option value="week">
          week
        </option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="clearfix col-12">
      <tabset>
        <tab heading="Tickets" [active]="tabs.ticketTab">
          <div class="box box-default server-tab-content">
            <div class="" id="my-server" role="tabpanel">
              <div class="row pt-4 pb-3">
                <div class="col-xl-12 pl-4">
                  <!-- <button class="ml-3 btn btn-primary btn-sm waves-effect waves-effect waves-effect waves-effect" data-toggle="tab"
                      onclick="window.location.href='#/app/data-center/server/new'">New Server</button> -->
                  <a href="javascript:void(0)" (click)="changeView()" class="ml-4"> {{ticketView}}</a>
                </div>

              </div>

              <div class="row mt-0 pl-5 pr-5" *ngIf="tableView">
                <div class="col-xl-12">
                  <ticket-dashboard [(ageingParams)]="selectedAgeing"></ticket-dashboard>
                </div>
              </div>

              <div class="row mt-0 pl-5 pr-5" *ngIf="!tableView">
                <div class="col-xl-12">
                  <ticket-graph-view [(ageingParams)]="selectedAgeing"></ticket-graph-view>
                </div>
              </div>

              <!-- <div class="row pt-4 pb-3">
                  <div class="col-xl-12 pl-4">
                    <button class="ml-3 btn btn-primary btn-sm waves-effect waves-effect waves-effect waves-effect" data-toggle="tab"
                      onclick="window.location.href='#/app/data-center/server/new'">New Server</button>
                    <a href="javascript:void(0)" class="ml-4" (click)="toggleSummaryView()">Full List View</a>
                  </div>

                </div> -->

              <div class="row mt-0 pl-5 pr-5">
                <div class="col-xl-12">
                  <!-- <server-summary-list (serverListParamsOut)="updateSearchOptions($event, true)"></server-summary-list> -->
                </div>
              </div>

            </div>
          </div>
        </tab>
        <tab heading="Engineers" [active]="tabs.engineerTab">
          <div class="box box-default server-tab-content">
            <div class="" id="my-server" role="tabpanel">
              <!-- <div class="row pt-4 pb-3">
                  <div class="col-xl-12 pl-4">
                    <button class="ml-3 btn btn-primary btn-sm waves-effect waves-effect waves-effect waves-effect" data-toggle="tab"
                      onclick="window.location.href='#/app/data-center/server/new'">New Server</button>
                    <a href="javascript:void(0)" class="ml-4" (click)="toggleSummaryView()">Full List View</a>
                  </div>

                </div> -->

              <div class="row pt-4 pb-3">
                <div class="col-xl-12 pl-4">
                  <!-- <button class="ml-3 btn btn-primary btn-sm waves-effect waves-effect waves-effect waves-effect" data-toggle="tab"
                        onclick="window.location.href='#/app/data-center/server/new'">New Server</button> -->
                  <a href="javascript:void(0)" class="ml-4" (click)="showGraphView()">{{engView}}</a>
                </div>

              </div>

              <div class="row mt-0 pl-5 pr-5" *ngIf="engineerTableView">
                <div class="col-xl-12">
                  <engineer-dashboard [(ageingParams)]="selectedAgeing"></engineer-dashboard>
                </div>
              </div>
              <div class="row mt-0 pl-5 pr-5" *ngIf="!engineerTableView">
                <div class="col-xl-12">
                  <engineer-graph-view [(ageingParams)]="selectedAgeing"></engineer-graph-view>
                </div>
              </div>

              <div class="row mt-0 pl-5 pr-5">
                <div class="col-xl-12">
                  <!-- <server-summary-list (serverListParamsOut)="updateSearchOptions($event, true)"></server-summary-list> -->
                </div>
              </div>

            </div>
          </div>
        </tab>
      </tabset>

    </div>
  </div>
</section>