<div class="row">
  <p *ngIf="loading" id="loaderimg" class="col-xl-2 ml-auto mr-auto">
    <img src="http://keystoneold.timesinternet.in//assets/img/ajax-loader.gif" class="img-fluid">
  </p>
</div>
<!-- <div class="row">
  <div class="col-xl-12">
    <div class="modal fade" bsModal #serverUpdateModal="bs-modal" [config]="{backdrop: 'static'}"
    tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #303F9F;color: #fff;">
          <h4 class="modal-title pull-left">Update Server Data</h4>
          <button type="button" class="close pull-right mb-5" aria-label="Close" (click)="serverUpdateModal.hide()">
            <span style="background-color: #303F9F;color: #fff;" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <server-update-form (reloadServerList)="reloadServerList(serverUpdateModal)" [serverData]="serverToEdit"></server-update-form>
        </div>
      </div>
    </div>
  </div>     
</div>
</div> -->

<div class="row">
  <!-- <div class="col-12 pr-0">
    <div class="row">
      <div class="col-xl-4 mt-4" *ngIf="showPagination()">
        <span style="font-size: 14px;font-weight: bold;">Showing {{ pageItemIndex + 1 }}-{{ pageItemIndex + servers?.vmdata.length }} of {{ collectionSize }}</span>
      </div>
      <div class="col-xl-8">
        <div class="mt-1 pull-right" *ngIf="showPagination()">
          <ngb-pagination (pageChange)="pageChange($event)" [pageSize]="pageSize" [collectionSize]="collectionSize" [(page)]="page" [maxSize]="maxSize" [rotate]="rotate" [boundaryLinks]="boundaryLinks">
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div> -->

  <table class="table table-hover table-responsive table-bordered">

    <thead class="thead">

      <tr>
        <th>Tickets</th>
        <th>Assigned To</th>
        <th>Logged Date</th>
        <th>Last update on</th>
        <th>Priority</th>
        <th>Status</th>
        <th>On Hold reason</th>
      </tr>
    </thead>
    <tbody *ngIf="ticketLocationInfo">

      <tr *ngFor=" let ticket of ticketLocationInfo; let i = index; " (click)="tikcetDetails(ticketDetailsModal,ticket.tickets,ticket.loggeddata)">
        <td class="color-white" [style.background-color]="ticket.ticketcolor">{{ ticket.tickets}}</td>
        <td>
          {{ticket.assignedto}}
        </td>
        <td> {{ticket.loggeddata}}</td>
        <td> {{ticket.lastupdate}}</td>
        <td> {{ticket.priority}}</td>
        <td> {{ticket.status}}</td>
        <td> {{ticket.onhold}}</td>

      </tr>
    </tbody>
  </table>
  <!-- <div class="col-xl-12 text-center" *ngIf="showNoServersMsg()">No servers found</div>
  <div class="col-xl-12 text-center text-danger" *ngIf="serverCallError">Something went wrong. Please try again. &nbsp;
    <a href="javascript:void(0)" (click)="getMyServers()">
      <fa class="" name="refresh"></fa> Reload</a>
  </div> -->

  <div class="col-12 pr-0">
    <div class="mt-2 pull-right">
      <ngb-pagination (pageChange)="pageChange($event)" [pageSize]="pageSize" [collectionSize]="collectionSize" [(page)]="page"
        [maxSize]="maxSize" [rotate]="rotate" [boundaryLinks]="boundaryLinks">
      </ngb-pagination>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #ticketDetailsModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
  aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #303F9F;color: #fff;">
        <h4 class="modal-title pull-left">Ticket Info </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="ticketDetailsModal.hide()">
          <span style="background-color: #303F9F;color: #fff;" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="row padding-top">
              <div class="col-xl-5 text">
                Name:
              </div>
              <div class="col-xl-7">
                {{ticketName}}
              </div>
            </div>
        <div class="row padding-top">
          <div class="col-xl-5 text">
            Date & time:
          </div>
          <div class="col-xl-7">
            {{ticketLoggedDate}}
          </div>
        </div>
        <div class="row padding-top">
          <div class="col-xl-5 text">
            Remarks:
          </div>
          <div class="col-xl-7">
            Test remark.
          </div>
        </div>
        <!-- <span style="font-weight:bold">Date & time:</span>
        <span>
          {{ticketLoggedDate}}
        </span>
        <br>
        <span style="font-weight:bold">Remarks:</span>
        <span>Test remark. </span> -->
      </div>
    </div>
  </div>
</div>