.thead {
    background: rgba(0, 0, 0, 0.075)!important;
}

.modal-header{
    padding: 5px!important;
    padding-left: 15px!important;
}
h4{
    margin-top: 10px;
    font-size: 20px!important;
}
.close{
    margin-right: 8px;
}
.text{
    font-weight:bold;
}
.padding-top{
    padding-top:10px;
}
th{
    text-align: center!important;
}
td{
    text-align: center!important;  
}