	<div id="elbFilterCollapse">
		<div class="form-group row server-filter-container card ml-auto mr-auto" >
			<form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
				<div class="col-12">
					<div class="row">
						
						<bu-project #buProject class="col-xl-8" 
							[selectionType]="'all'" 
							[access]="'all'"  
							[isProject]='true'
							[formData]="formData"							
							(updateData)=getBuProData($event)
							(businessChange)=onBusinessChange($event)
							(projectChange)=onProjectChange($event)
							>
						</bu-project>

						<!-- <div class="col-md-4">
							<label for="select-business">Business Unit</label>
							<select id="select-business" [(ngModel)]="formData.bu" (change)="onBusinessChange(false)" class="server-filter-form-input form-control" name="select-business">
								<option value="" selected>All</option>
								<option value="{{ business.bu_name }}" *ngFor="let business of businessAccessDetails?.bu">{{ business.bu_name }}</option>
							</select>
						</div>
						<div class="col-md-4">
							<label for="select-project">Project</label>
							<select id="select-project" [(ngModel)]="formData.project" (change)="filterCheck()" class="server-filter-form-input form-control" name="select-project" ngModel>
								<option value="" selected>All</option>
								<option value="{{ project.project }}" *ngFor="let project of projects[formData.bu]">{{ project.project }}</option>
							</select>
						</div> -->
						<div class="col-md-4">
							<label for="select-zone">Zone</label>
							<select id="select-zone" [(ngModel)]="formData.zone" (change)="onZoneEnvChange(buProject)" class="server-filter-form-input form-control" name="select-zone" ngModel>
								<option value="" selected>All</option>
								<option value="{{ zone }}" *ngFor="let zone of zoneList">{{ zone }}</option>
							</select>
						</div>
						<!-- <div class="col-md-4">
							<label for="port">Port</label>
							<input type="number" [(ngModel)]="formData.port" id="port" placeholder="Search port" class="server-filter-form-input form-control" name="port" ngModel>
						</div> -->
					</div>
				</div>
				<div class="col-12">
					
					<div class="row mt-5">
						<div class="col-6">
							<div class="mb-2">Environment</div>
							<div id="environment">
								<md-button-toggle-group class="btn-toggle-grp" [(ngModel)]="formData.env" name="environment" (change)="onZoneEnvChange(buProject)" ngModel>
									<md-button-toggle *ngFor="let env of envList" value="{{env.value}}"><b>{{env.title}}</b></md-button-toggle>
								</md-button-toggle-group>
							</div>
						</div>
						<!-- <div class="col-6 no-pd">
							<div class="row">
								<div class="col-5">
									<label for="filterkey">Filter Key</label>
									<select name="filterkey" class="form-control" [(ngModel)]="formData.filterKey">
										<option value="{{ filter }}" *ngFor="let filter of searchFilters">{{ filter }}</option>
									</select>	
								</div>
								<div class="self-align">=</div>
								<div class="col-6">
									<label>Filter Value</label>
									<input class="form-control" placeholder="{{'Enter ' + formData.filterKey}}" type="text" [(ngModel)]="formData.search" name="filtervalue">
								</div>
							</div>
						</div> -->
					</div>

				</div>
				<div class="col-12">
					<div class="row mt-5">
						<div class="col-4"></div>
						<div class="col-4"></div>
						<div class="col-4">
							<div class="pull-right">
								<button type="submit" class="btn btn-primary btn-md waves-effect waves-effect waves-effect waves-effect" data-toggle="tab" >Apply Filter</button>
								<button id="server-filter-cancel" type="button" class="ml-3 btn btn-primary btn-md waves-effect waves-effect waves-effect waves-effect" (click)="triggerCollapse()" [attr.aria-expanded]="!isCollapsed" aria-controls="elbFilterCollapse" >Cancel</button>
							</div>
						</div>
					</div>
				</div>
			</form>  
		</div>
	</div>