  
<!-- pagination -->
<div class="pagination-header" *ngIf="!loading.volumeList && volumeList?.volumes.length > 0">
    <!-- <span style="font-size: 14px;font-weight: bold;">Showing {{ pagination.pageItemIndex + 1 }}-{{ pagination.pageItemIndex + volumeList?.volumes.length }} of {{ pagination.collectionSize }}</span> -->
    <span style="font-size: 14px;font-weight: bold;">Showing {{ pagination.pageItemIndex + 1 }}-{{ pagination.pageItemIndex + volumeList?.volumes.length }} of {{ volumeList?.volumes.length }}</span>
    <!-- <ngb-pagination (pageChange)="pageChange($event)" [pageSize]="pagination.pageSize" [collectionSize]="pagination.collectionSize" [(page)]="pagination.page" [maxSize]="pagination.maxSize" [rotate]="pagination.rotate" [boundaryLinks]="pagination.boundaryLinks">
    </ngb-pagination> -->
  </div>
  
  <div class="container-expandable" expandableCont [update]="isDetails">
    <!-- volume list panel -->
    <div class="panel list">
      <div class="scroll-container">
          <div class="row">
            <p *ngIf="loading.volumeList" class="col-md-2 ml-auto mr-auto">
              <img src="http://keystoneold.timesinternet.in//assets/img/ajax-loader.gif" class="img-fluid">
            </p>
          </div>
          <div class="row">
            <div class="col-xl-12 text-center text-danger" *ngIf="!loading.volumeList && !volumeList">Something went wrong. Please try again.
              &nbsp;<a href="javascript:void(0)" (click)="getVolumeList()"><fa class="" name="refresh"></fa> Reload</a>
            </div> 
          </div>
          <!-- volume list table -->
          <div class="">
            <table class="table table-hover table-custom" *ngIf="!loading.volumeList && volumeList">
              <tr>
                <th *ngFor="let list of volumeListHeaders; let i = index;" class="" scope="col">
                  {{list.header}}
                  <span class="ui-column-resizer" colResize *ngIf=" (i+1) != volumeListHeaders.length"></span>
                </th>
              </tr>
              <!-- volume list tr -->
              <tr *ngFor=" let volume of volumeList?.volumes; let i = index; " (click)="getVolumeMember(i,volume.id)">
                <td>
                  <md-checkbox 
                    [(ngModel)]="checkedVolume[i]"
                    (click)="toggleSelection(i,volume.id)" 
                    class="example-margin"
                    name="name-{{i}}" 
                    [color]="'primary'"
                    [value]="volume.id">
                  </md-checkbox>
                </td>
                <td>{{ volume.volume_name || '-'}}</td>
                <td>{{volume.id || '-'}}</td>
                <td>{{volume.size || '-'}}</td>
                <td>{{volume.volume_type || '-'}}</td>
                <td>{{volume.creation_date * 1000 | date:'LLLL dd, yyyy - h:mm:ss a'}}</td>
                <td>{{volume.zone || '-'}}</td>
                <td class="txt-center">{{volume.status}}</td>

                
              </tr>
            </table>
            <div class="col-xl-12 text-center" *ngIf="volumeList?.volumes.length == 0">No Data found</div>
            
          </div>
              
      </div>
    </div>
  
    <!-- volume details panel -->
    <div class="panel details" *ngIf="isDetails">
      <span class="expand-handler"></span>
      <div class="scroll-container">
        <volume-details #volumeDetails [volumeDetailsList]='volumeDetailsList'></volume-details>
      </div>
    </div>
  </div>
  