
    <div class="row">
        <p *ngIf="loading" class="col-md-2 ml-auto mr-auto">
          <img src="http://keystoneold.timesinternet.in//assets/img/ajax-loader.gif" class="img-fluid">
        </p>
      </div> 
      <div class="row">
          <div class="col-xl-12 text-center text-danger" *ngIf="certCallError">Something went wrong. Please try again.
              &nbsp;<a href="javascript:void(0)" (click)="getsslcert()"><fa class="" name="refresh"></fa> Reload</a>
          </div> 
        </div> 
      <div class="row pt-0">
        
        <div class="col-xl-4 mt-4" >
            <span *ngIf="!loading" style="font-size: 14px;font-weight: bold;">Showing 1-{{clientcertlist.length}} of {{totalResult}}</span>
          </div>
        </div>
        <div class="row pt-0 mt-4">
        <table class="table table-hover table-striped table-responsive" *ngIf="!loading">
          <tr>
            <th class="" scope="col">#</th>
            <th class="" scope="col">Name</th>
            <th class="" scope="col">Common Name</th>
            <th class="" scope="col">Issuer Name</th>
            <th class="" scope="col">Days to Expire</th>
            <th class="" scope="col">Status</th>
          </tr>
          <tr *ngFor=" let clientcert of clientcertlist; let i = index; ">
            <td>{{ i+1 | number }}</td>
            <td>{{clientcert.certkey | truncate:25}}</td>
            <td>{{clientcert.commonname | truncate:25}}</td>
            <td>{{clientcert.issuer | truncate:50}}</td>
            <td>{{clientcert.daystoexpiration}}</td>
            <td>{{clientcert.status}}</td>
          </tr>
        </table>
        <div class="col-xl-12 text-center" *ngIf="showNoCertMsg">No Certificates found</div>
    </div>
  