th{
    text-align: center!important;
}
td{
    text-align: center!important;  
}
.location-text{
    margin-left: 1rem !important;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
}