<div class="column" *ngIf='!desData.length'>
   <!-- table list of listeners -->
   <table class="table table-hover table-custom" *ngIf="!loading.listenerList && listenerList">
        <tr>
            <th *ngFor="let list of listenersHeaders; let i = index;" class="" scope="col">
                {{list.header}}
                <!-- <span class="ui-column-resizer" colResize *ngIf=" (i+1) != listenersHeaders.length"></span> -->
            </th>
        </tr>
        <!-- listeners list tr -->
        <tr *ngFor=" let obj of listenerList?.summary; let i = index; ">
            <td>
                <md-checkbox 
                    (click)="toggleSelection(i,obj.id)" 
                    class="example-margin"
                    name="name-{{i}}" 
                    [color]="'primary'"
                    [value]="obj.id">
                </md-checkbox>
            </td>
            <td>
                {{obj.protocol}} : {{obj.port}}
                <p class="no-mg">
                    <span mdTooltip="{{obj.listener_name}}" [mdTooltipPosition]="'right'">{{(obj.listener_name || '-') |  truncate:20}}...</span>
                </p>
            </td>
            <td>N/A</td>
            <td>{{obj.ssl_cert || '-'}}</td>
            <td>Forwarding to <span class="redirect-link" onclick="window.location.href=window.location.href='#/app/data-center/elb/pool'">{{obj.servicegroup}}</span></td>
            <td>
                {{obj.creation_date * 1000 | date:'LLLL dd, yyyy - h:mm:ss a'}}
            </td>
            <td class="txt-center status" title="{{obj.state}}">
                <fa name="{{ getMap(obj.state,'statusIconMap') ? getMap(obj.state,'statusIconMap') : 'minus' }}" size="lg"></fa>
            </td>
        </tr>
    </table>
    <div class="col-xl-12 text-center" *ngIf="listenerList?.summary.length == 0">No Data found</div>
</div>
<div *ngIf='desData.length && desData.length > 0'>
    {{desData}}
</div>