<div class="box box-default">
	<div class="clearfix" role="tabpanel">
		<div class="row">
			<div class="col-xl-12">
				<div class="box box-default mb-0">
					
					<form> 
						<tabset>
						<tab *ngFor="let tabz of tabsList"
							[heading]="tabz.template"
							[active]="tabz.active"
							(select)="tabz.active = true;updateTabData(tabz.template)"
							(deselect)="tabz.active = false"
							[disabled]="false">
							
							<div class="col-xl-12 text-center text-danger" *ngIf="logsCallError">Something went wrong. Please try again.
								&nbsp;<a href="javascript:void(0)" (click)="updateTabData(tabz.template)"><fa class="" name="refresh"></fa> Reload</a>
              </div>

                <div class="row mt-3">
                  <div class="col-xl-9 pl-4">
                    <div class="pt-0 ml-auto mr-auto box box-default">
                      <div class="box-header graph-title">Total Request</div>
                      <div class="box-body pl-2 pr-0">
                        <stack-line-graph [tabperformance]="tabperformance" (mouseDownEvent)="handleMouseDown($event)" (mouseUpEvent)="handleMouseUp($event)" (dataZoom)="handleGraphDataZoom($event, 'totalRequest')" [callResize]="callLogTabResize" [loadingError]="loadingError[tabz.template].totalRequest" [loading]="loading[tabz.template].totalRequest" [graphData]="serverMonitoringData[tabz.template].totalRequest"></stack-line-graph>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-xl-3 pr-4">
                    <div class="pt-0 ml-auto mr-auto box box-default">
                      <div class="box-header graph-title">Summary</div>
                      <div class="box-body pl-3 pr-3 graph-summary">
                        <div class="row" *ngIf="loading[tabz.template].totalRequest">
                          <p id="loaderimg" class="col-xl-6 ml-auto mr-auto">
                            <img src="http://keystoneold.timesinternet.in//assets/img/ajax-loader.gif" class="img-fluid">
                          </p>
                        </div>
                        <div class="row" *ngIf="!loading[tabz.template].totalRequest">
                          <div class="col-xl-12">
                            <div class="row">
                              <div class="col-xl-6 graph-stats-title">Total:</div>
                              <div class="col-xl-6">NA</div>
                            </div>
                            <div class="row mt-4 mb-3"></div>
                            <div class="row">
                              <div class="col-xl-6 graph-stats-title">Peak:</div>
                              <div class="col-xl-6">NA</div>
                            </div>
                            <div class="row mt-4 mb-3"></div>
                            <div class="row">
                              <div class="col-xl-6 graph-stats-title">Least:</div>
                              <div class="col-xl-6">NA</div>
                            </div>
                            <div class="row mt-4 mb-3"></div>
                          
                          </div>
                        </div>
                      </div>
                    </div>
  
                  </div> -->
                </div>

                <div class="row mt-3">
                  <div class="col-xl-9 pl-4">
                    <div class="pt-0 ml-auto mr-auto box box-default">
                      <div class="box-header graph-title">Average Request Time</div>
                      <div class="box-body pl-2 pr-0">
                        <stack-line-graph [tabperformance]="tabperformance" (mouseDownEvent)="handleMouseDown($event)" (mouseUpEvent)="handleMouseUp($event)" (dataZoom)="handleGraphDataZoom($event, 'averageRequestTime')" [callResize]="callLogTabResize" [loadingError]="loadingError[tabz.template].averageRequestTime" [loading]="loading[tabz.template].averageRequestTime" [graphData]="serverMonitoringData[tabz.template].averageRequestTime"></stack-line-graph>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-xl-3 pr-4">
                    <div class="pt-0 ml-auto mr-auto box box-default">
                      <div class="box-header graph-title">Summary</div>
                      <div class="box-body pl-3 pr-3 graph-summary">
                        <div class="row" *ngIf="loading[tabz.template].totalRequest">
                          <p id="loaderimg" class="col-xl-6 ml-auto mr-auto">
                            <img src="http://keystoneold.timesinternet.in//assets/img/ajax-loader.gif" class="img-fluid">
                          </p>
                        </div>
                        <div class="row" *ngIf="!loading[tabz.template].totalRequest">
                          <div class="col-xl-12">
                            <div class="row">
                              <div class="col-xl-6 graph-stats-title">Total:</div>
                              <div class="col-xl-6">NA</div>
                            </div>
                            <div class="row mt-4 mb-3"></div>
                            <div class="row">
                              <div class="col-xl-6 graph-stats-title">Peak:</div>
                              <div class="col-xl-6">NA</div>
                            </div>
                            <div class="row mt-4 mb-3"></div>
                            <div class="row">
                              <div class="col-xl-6 graph-stats-title">Least:</div>
                              <div class="col-xl-6">NA</div>
                            </div>
                            <div class="row mt-4 mb-3"></div>
                          
                          </div>
                        </div>
                      </div>
                    </div>
  
                  </div> -->
                </div>
              
						</tab>
						</tabset>
					</form>
        		</div>
        
			</div>
		</div>
	</div>
</div>

