<!-- pagination -->
<div class="pagination-header" *ngIf="!loading.elbList && elbList?.summary.length > 0">
	<span style="font-size: 14px;font-weight: bold;">Showing {{ pagination.pageItemIndex + 1 }}-{{ pagination.pageItemIndex + elbList?.summary.length }} of {{ pagination.collectionSize
		}}</span>
	<ngb-pagination (pageChange)="pageChange($event)" [pageSize]="pagination.pageSize" [collectionSize]="pagination.collectionSize"
	 [(page)]="pagination.page" [maxSize]="pagination.maxSize" [rotate]="pagination.rotate" [boundaryLinks]="pagination.boundaryLinks">
	</ngb-pagination>
</div>

<div class="container-expandable" expandableCont [update]="isDetails">
	<!-- elb list panel -->
	<div class="panel list">
		<div class="scroll-container">
			<keystone-loader *ngIf="loading.elbList"></keystone-loader>
			<div class="row">
				<div class="col-xl-12 text-center text-danger" *ngIf="!loading.elbList && !elbList">Something went wrong. Please try again. &nbsp;
					<a href="javascript:void(0)" (click)="getELBList()">
						<fa class="" name="refresh"></fa> Reload</a>
				</div>
			</div>
			<!-- elb list table -->
			<div class="">
				<table class="table table-hover table-custom" *ngIf="!loading.elbList && elbList">
					<tr>
						<th *ngFor="let list of elbListHeaders; let i = index;" class="" scope="col">
							{{list.header}}
							<span class="ui-column-resizer" colResize *ngIf=" (i+1) != elbListHeaders.length"></span>
						</th>
					</tr>
					<!-- elb list tr -->
					<tr *ngFor=" let elb of elbList?.summary; let i = index; " (click)="getElbMember(i,elb.id)">
						<td>
							<md-checkbox [(ngModel)]="checkedElb[i]" (click)="toggleSelection(i,elb.id)" class="example-margin" name="name-{{i}}" [color]="'primary'"
							 [value]="elb.id">
							</md-checkbox>
						</td>
						<td>
							<p class="new-tag">{{ elb.vip }}
								<span *ngIf='elb.creation_date | latestTag'>{{elb.creation_date | latestTag}}</span>
							</p>
						</td>
						<td>{{elb.lb_name || '-'}}</td>
						<td>{{elb.domain_name || '-'}}</td>
						<td>{{elb.zone || '-'}}</td>
						<td>
							<label *ngIf="elb.protocol" class="label-monitor-status-{{ getMap(elb.protocol,'lbTagMap') }}" title="{{ getMap(elb.protocol,'lbTagMap') | capitalizeFirst }} LB"
							 style="margin-left:3px;">
								{{ getMap(elb.protocol,'lbTagMap')}}
							</label>
						</td>
						<td>
							{{elb.creation_date * 1000 | date:'LLLL dd, yyyy - h:mm:ss a'}}
						</td>
						<td class="txt-center">
							{{elb.state}}
						</td>
					</tr>
				</table>
				<div class="col-xl-12 text-center" *ngIf="elbList?.summary.length == 0">No Data found</div>

			</div>

		</div>
	</div>

	<!-- elb details panel -->
	<div class="panel details" *ngIf="isDetails">
		<span class="expand-handler"></span>
		<div class="scroll-container">
			<elb-details #elbDetails [elbDetailsList]='elbDetailsList'></elb-details>
		</div>
	</div>
</div>
