 <section class="container-fluid">
  <h2 class="article-title"></h2>

  <div class="row">
    <div class="clearfix col-12">
      <tabset>
        <tab heading="My Assets" [active]="staticBillingTab.active" (select)="staticBillingTab.active = true" (deselect)="staticBillingTab.active = false">
          <div class="box box-default billing-tab-content">
            <div role="tabpanel">
              
              <div class="row">
                <!-- <div class="col-xl-2 mt-4 pl-5">
                  <select (change)="dateChange()" class="form-control" [(ngModel)]="formData.month">
                    <option *ngFor="let month of dateSelector?.yearMonths[formData.year]" [value]="month.value">{{ month.name }}</option>
                  </select>
                </div>
                <div class="col-xl-2 mt-4 pl-0 ml-0">
                  <select (change)="yearChange()" class="form-control w-50" [(ngModel)]="formData.year">
                    <option *ngFor="let year of dateSelector?.years" [value]="year">{{ year }}</option>
                  </select>
                </div> -->
                <div class="col-xl-12 mt-3">
                  <span class="pull-right">
                    <a href="javascript:void(0);" (click)=" isCollapsed = !isCollapsed " [attr.aria-expanded]="!isCollapsed" aria-controls="serverFilterCollapse" >
                      <fa name="filter" size="3x" class="font-fa-icon"></fa>                    
                    </a>
                  </span>
                </div>
                <div class="col-xl-12">
                  <physical-billing-filter-form (triggerFilterCollapse)="triggerFilterCollapse($event)" [updatedSearchOptions]="searchOptions" [ngbCollapse]="!isCollapsed" [isCollapsed]="isCollapsed" (searchOptions)="updateSearchOptions($event)"></physical-billing-filter-form>
                </div>
              </div>
              <div class="row mt-2"></div>
              <div class="row mt-0 pl-5 pr-5">
                <div class="col-xl-12 mt-2">
                  <physical-billing-list [billingParamsIn]="searchOptions"></physical-billing-list>
                </div>
              </div>
            </div>
          </div>
        </tab>
      </tabset>
      
    </div>
  </div>

  

</section>