<div class="box box-default mb-0">
  <div class="row">
    <p *ngIf="loading" class="col-md-2 ml-auto mr-auto">
      <img src="http://keystoneold.timesinternet.in//assets/img/ajax-loader.gif" class="img-fluid">
    </p>
  </div>  
  <div class="row pt-0">
    <div class="col-12 pr-0">
      <div class="row">
        <div class="col-xl-4 mt-4" *ngIf="showPagination()">
          <span style="font-size: 14px;font-weight: bold;">Showing {{ pagination.pageItemIndex + 1 }}-{{ pagination.pageItemIndex + elbs?.summary.length }} of {{ pagination.collectionSize }}</span>
        </div>
        <div class="col-xl-8">
          <div class="mt-1 pull-right" *ngIf="showPagination()">
            <ngb-pagination (pageChange)="pageChange($event)" [pageSize]="pagination.pageSize" [collectionSize]="pagination.collectionSize" [(page)]="pagination.page" [maxSize]="pagination.maxSize" [rotate]="pagination.rotate" [boundaryLinks]="pagination.boundaryLinks">
            </ngb-pagination>
          </div>
        </div>  
      </div>


    </div>
     <div class="table-responsive">
    <table class="table table-hover" *ngIf="!loading">
      <tr>
        <th class="" scope="col">#</th>
        <th class="" scope="col">VIP</th>
        <th class="" scope="col">Port</th>
        <th class="" scope="col">Project</th>
        <th class="" scope="col">Zone</th>
        <th class="" scope="col">Tags</th>
        <th class="" scope="col" title="Number of Current Client Connections">Con C</th>
        <th class="" scope="col" title="Number of Client Connections in Established State">Con E</th>
        <th class="" scope="col" title="Request Rate/Second">Req/Sec</th>
        <th class="" scope="col" title="Response Rate/Second">Resp/Sec</th>
        <th class="txt-center" scope="col">Status</th>
        <!-- <th class="" scope="col">Trends</th> -->
        <th class="" scope="col"></th>
      </tr>
      
      <tr [ngClass]="{'static-row': !elb.dynamicRow, 'dyn-row': elb.dynamicRow}" *ngFor=" let elb of finalELBs?.summary;let i = index; ">
        <td *ngIf="!elb.dynamicRow">{{ pagination.pageItemIndex + i / 2 + 1 }}.</td>
        <!-- <td *ngIf="!elb.dynamicRow" [title]="elb.lb_name" >{{ elb.lb_name | truncate:20}}</td> -->
        <td *ngIf="!elb.dynamicRow">
          <p class="new-tag">{{ elb.vip }}
            <span *ngIf='elb.creation_date | latestTag'>{{elb.creation_date | latestTag}}</span>
          </p>
        </td>
        <td *ngIf="!elb.dynamicRow">{{ elb.port }}</td>
        <td *ngIf="!elb.dynamicRow" class="project-bu">
          <span title="{{elb.project}}">{{ elb.project | truncate:12 }}</span>
          <span title="{{elb.bu}}">{{ elb.bu | truncate:10 }}</span>
        </td>
        <td *ngIf="!elb.dynamicRow" class="zone">{{ elb.zone }}</td>
        <td *ngIf="!elb.dynamicRow">
          <label class="label-monitor-status-{{ envMap[elb.env] }}"
            title="{{envMap[elb.env] | capitalizeFirst  }} Environment">
            {{ envMap[elb.env] }}
          </label>

          <label *ngIf="elb.protocol" 
            class="label-monitor-status-{{ lbTagMap[elb.protocol] }}"
            title="{{ lbTagMap[elb.protocol] | capitalizeFirst }} LB" style="margin-left:3px;">
            {{ lbTagMap[elb.protocol] | truncate:3 }}
          </label>
        </td>
        <td *ngIf="!elb.dynamicRow">{{ elb.CurrentClientConnections }}</td>
        <td *ngIf="!elb.dynamicRow">{{ elb.EstablishedConnections }}</td>
        <td *ngIf="!elb.dynamicRow" title="Total Requests : {{ elb.totalrequests ? elb.totalrequests : (elb.totalrequests | number)  }}">{{ elb.requestsrate }}</td>
        <td *ngIf="!elb.dynamicRow" title="Total Responses : {{ elb.totalresponses ? elb.totalresponses : (elb.totalresponses | number)  }}">{{ elb.responsesrate }}</td>
        <td *ngIf="!elb.dynamicRow" class="txt-center status" title="{{elb.state}}">
            <fa name="{{ statusIconMap[elb.state] ? statusIconMap[elb.state] : 'minus'}}" size="lg"></fa>
        </td>
        <!-- <td *ngIf="!elb.dynamicRow">
          <server-stack-line-graph [chartOptions]="chartOptions" [callResize]="callLogTabResize" [loadingError]="false" [loading]="loadingGraph[i]" [graphData]="test[i]"></server-stack-line-graph>
        </td> -->
        <td *ngIf="!elb.dynamicRow">
          <button dynAccordion [collapseToggle]="'costDetails'+(i + 1)" (click)="triggerELBStats(i + 1, elb)" id="buBillingDetails" [ngClass]="{'fa-plus':!finalELBs.summary[i + 1].expandDetails,'fa-minus':finalELBs.summary[i + 1].expandDetails}" class="btn-sm pointer btn btn-default fa waves-effect waves-effect" type="button" >
            <!-- <span class="ml-2">Details</span> -->
          </button>
          <button disabled class="btn btn-default fa fa-line-chart waves-effect waves-effect" type="button" >
          </button>
        </td>
        <td style="padding: 0px !important;border: 0 !important;"  *ngIf=" elb.dynamicRow "  colspan="14">
          <div style="display: none;" id="costDetails{{ i }}">
            <div class="row pt-0 pb-0">
              <div class="col-xl-12">
                <div class="row">
                  <div class="col-xl-12">
                    <!-- <tabset  class="card" style="width: 100%;" [justified]="true">   -->

                      <!-- <tab (select)="getELBStats(i, finalELBs.result[i - 1].BU, dcZone)" *ngFor="let dcZone of elb.zone_list"  [heading]="dcZone.INSTANCE_NAME"> -->
                        <div class="row col-xl-12">
                          <p *ngIf="elbStatsLoading[i]" class="ml-auto mr-auto">
                            <img width="100" src="http://keystoneold.timesinternet.in//assets/img/ajax-loader.gif" class="img-fluid">
                          </p>
                        </div>
                        <div *ngIf="!elbStatsLoading[i]" class="card row col-xl-12 pr-0 pl-0">
                        <table  style="background-color: #fff;font-size: 12px;" class="table table-hover table-striped table-responsive">
                          <thead>
                            <tr style="background-color: #fff;">
                              <th>#</th>
                              <th>IP</th>
                              <th>Port</th>
                              <th title="Number of Current Client Connections">Con C</th>
                              <th title="Request Rate/Second">Req/Sec</th>
                              <th title="Response Rate/Second">Resp/Sec</th>
                              <th title="Average TTFB between Loadbalancer and Server. &#x0A;TTFB is the time interval between sending request &#x0A;packet to a service and receiving the first &#x0A;response from service">Avg. TTFB</th>
                              <th title="Number of Bytes sent or received by this service">Throughput(Mbps)</th>
                              <th class="txt-center">Status</th>
                            </tr>
                          </thead>

                          <tbody>
                            <tr *ngFor=" let item of elbStats[i]; let j = index; ">
                              <td>{{ j + 1 }}.</td>
                              <td>{{ item.ip }}</td>
                              <td>{{ item.port }}</td>
                              <td>{{ item.curclntconnections }}</td>
                              <td title="Total Requests : {{ item.totalrequests | number }}">{{ item.requestsrate }}</td>
                              <td title="Total Responses : {{ item.totalresponses | number }}">{{ item.responsesrate }}</td>
                              <td>{{ item.avgsvrttfb }}</td>
                              <td>{{ item.throughput }}</td>
                              <td class="txt-center status" title="{{item.state}}">
                                  <fa name="{{ statusIconMap[item.state] ? statusIconMap[item.state] : 'minus' }}" size="lg"></fa>
                              </td>
                            </tr>
                            <tr>
                              <td colspan="12" align="center" *ngIf="elbStats[i] && elbStats[i].length == 0">
                                  No records found
                              </td>
                              <td colspan="12" align="center" class="text-danger" *ngIf="elbStatsError[i]">
                                  Something went wrong. Please try again.
                                  &nbsp;<a href="javascript:void(0)" (click)="getELBStats(i, finalELBs.summary[i - 1].zone, finalELBs.summary[i - 1].vipip)">
                                    <fa class="" name="refresh"></fa> Reload
                                  </a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        </div>
                        <!-- </tab> -->

                     <!-- </tabset> -->
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </td>
       </tr>
     </table>
    </div>
     <div class="col-xl-12 text-center" *ngIf="showNoELBMsg()">No ELB found</div>
     <div class="col-xl-12 text-center text-danger" *ngIf="elbCallError">Something went wrong. Please try again.
       &nbsp;<a href="javascript:void(0)" (click)="getELBList()"><fa class="" name="refresh"></fa> Reload</a></div>
       <div class="col-12 pr-0">
        <div class="mt-2 pull-right" *ngIf="showPagination()">
          <ngb-pagination (pageChange)="pageChange($event)" [pageSize]="pagination.pageSize" [collectionSize]="pagination.collectionSize" [(page)]="pagination.page" [maxSize]="pagination.maxSize" [rotate]="pagination.rotate" [boundaryLinks]="pagination.boundaryLinks">
          </ngb-pagination>
        </div>
      </div>

    </div>
  </div>
