<div class="column cols-2" >
    <p><strong>Coming Soon ...</strong>  <span> </span></p>
</div>
<!-- <div class="column cols-2" *ngIf='!desData.length'>
    <p><strong>Name</strong> : <span> {{desData.lb_name}}</span></p>
    <p><strong>Creation Time</strong> : <span> {{desData.creation_date * 1000 | date:'LLLL dd, yyyy - h:mm:ss a'}}</span></p>
    <p><strong>IP</strong> : <span> {{desData.vip}}</span></p>
    <p><strong>Status</strong> : <span> {{desData.state}}</span></p>
    <p><strong>Scheme</strong> : <span> {{desData.scheme}}</span></p>
    <p><strong>Type</strong> : <span> {{ getMap(desData.protocol,'lbTagMap')}}</span></p>
    <p><strong>Business</strong> : <span> {{desData.bu}}</span></p>
    <p><strong>Project</strong> : <span> {{desData.project}}</span></p>
    <p><strong>Zone</strong> : <span> {{desData.zone}}</span></p>
    <p><strong>Environment</strong> : <span> {{ getMap(desData.env,'envMap')}}</span></p>
</div> -->
<!-- <div *ngIf='desData.length && desData.length > 0'>
    {{desData}}
</div> -->